<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                <h2 id="ic-ward-heading" jhiTranslate="iconnectSampleAppLabApp.ward.home.createLabel" [hidden]="editForm.get('id').value">Add Ward</h2>

                <h2 id="ic-ward-heading" jhiTranslate="iconnectSampleAppLabApp.ward.home.editLabel" [hidden]="!editForm.get('id')!.value">Edit Ward</h2>
            <div>
                <ic-alert-error></ic-alert-error>

                <!-- <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div> -->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iconnectSampleAppLabApp.ward.wardReferenceId" for="field_wardReferenceId">Ward Reference Id</label>
                    <input type="text" class="form-control" name="wardReferenceId" id="field_wardReferenceId" oninput="this.value = this.value.toUpperCase()" (blur)="onBlur()"
                           formControlName="wardReferenceId" />
                    <div *ngIf="editForm.get('wardReferenceId')!.invalid && (editForm.get('wardReferenceId')!.dirty || editForm.get('wardReferenceId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('wardReferenceId')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 7 }">
                        This field cannot be longer than 7 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('wardReferenceId')?.errors?.pattern" jhiTranslate="entity.validation.pattern" [translateValues]="{ pattern: 'WARD_NN' }">
                        This field should follow this pattern: WARD_NN, where NN is a number from 01 to 10.
                        </small>
                    </div>
                    <div>
                        <small class="form-text text-danger"
                               *ngIf="isDuplicateField">
                               Ward Reference ID in use
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iconnectSampleAppLabApp.ward.wardNameName" for="field_wardName">Ward Name</label>
                    <input type="text" class="form-control" name="wardName" id="field_wardName" (blur)="onBlurName()"
                           formControlName="wardName"/>
                    <div *ngIf="editForm.get('wardName')!.invalid && (editForm.get('wardName')!.dirty || editForm.get('wardName')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('wardName')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 10 }">
                        This field cannot be longer than 10 characters.
                        </small>
                    </div>
                    <div>
                        <small class="form-text text-danger"
                               *ngIf="isDuplicateFieldName">
                               Ward Name in use
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iconnectSampleAppLabApp.ward.wardClassType" for="field_wardClassType">Ward Class Type</label>
                    <select class="form-control" name="wardClassType" formControlName="wardClassType" id="field_wardClassType">
                        <option *ngFor="let wardClassTypeData of wardClassTypeDatas" [value]="wardClassTypeData.codeId">
                            {{wardClassTypeData.label["en-US"]}}</option>
                    </select>
                    <div *ngIf="editForm.get('wardClassType')!.invalid && (editForm.get('wardClassType')!.dirty || editForm.get('wardClassType')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('wardClassType')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="iconnectSampleAppLabApp.ward.wardLocation" for="field_wardLocation">Ward Location</label>
                    <select class="form-control" name="wardLocation" formControlName="wardLocation" id="field_wardLocation">
                        <option *ngFor="let wardLocationData of wardLocationDatas" [value]="wardLocationData.codeId">
                            {{wardLocationData.label["en-US"]}}</option>
                    </select>
                    <div *ngIf="editForm.get('wardLocation')!.invalid && (editForm.get('wardLocation')!.dirty || editForm.get('wardLocation')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('wardLocation')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="submit" id="add-entity" [disabled]="editForm.invalid || isSaving || isDuplicateField" class="btn btn-primary"[hidden]="editForm.get('id').value">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.add">Add</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving || isDuplicateField" class="btn btn-primary" [hidden]="!editForm.get('id')!.value">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>

                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
            </div>
        </form>
    </div>
</div>
